$page-bg-color: hsl(0, 0%, 90%);
$primary-color: hsl(0, 0%, 99%);
$secondary-color: #8f00ff;
$text-color: #444444;
$border-radius: 8px;
$border-color: darken($primary-color, 15);

body {
  margin: 0;
}

main {
  min-height: 100vh;
  background-color: $page-bg-color;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  background-image: url(quiz.svg);
  background-size: 80px 80px;
}

$offset-margin: 0.6rem;
.question-segment {
  width: 60vw;
  margin-inline: $offset-margin;
  position: relative;
  font-size: 1.1em;
  &__question {
    box-sizing: border-box;
    width: 100%;
    padding: 1.8em 1em 1em 1em;

    text-align: center;

    background-color: $primary-color;
    border-radius: $border-radius;
    border: 2px solid $border-color;
    .question__keyword {
      font-weight: 600;
    }
  }
  &__banner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1000000000000px;
    padding: 0.7em 1em;
    color: white;
    background-color: $secondary-color;
    p {
      margin: 0;
    }
  }
}

.answer-segment {
  margin-top: 0.2rem;
  width: 100%;
  &.choice-mode .answer-textbox-container {
    display: none;
  }
  &.insert-mode .choice-container {
    display: none;
  }
}

.choice-container {
  --repeat: 2;
  display: grid;
  grid-template-columns: repeat(var(--repeat), minmax(200px, 1fr));
  .choice {
    box-sizing: border-box;
    padding: 1.3em 4em;
    margin: $offset-margin;

    font-size: 1.1rem;
    text-align: center;

    background-color: $primary-color;
    border-radius: $border-radius;
    border: 2px solid $border-color;

    user-select: none;
    cursor: pointer;
    &:hover {
      border-color: black;
    }
  }
  .selected-choice {
    background-color: $secondary-color;
    border-color: black;
    color: white;
    outline: 0;
  }
}

.answer-textbox-container {
  margin-inline: $offset-margin;
  margin-top: 2em;
  position: relative;
  .answer-textbox {
    box-sizing: border-box;
    width: 100%;
    padding: 0.2em 0.4em;

    font-size: 1.2em;

    border-radius: $border-radius;
    border-style: solid;
    border-color: $border-color;
    border-width: 2px;
    outline: 0;
    transition: border 50ms;
    &:focus,
    &:focus-visible {
      border-color: $secondary-color;
    }
  }
  &::before {
    content: "here.";
    position: absolute;
    left: 15.9ch;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: gray;
    animation: placeholder-type 5s infinite;
  }
  &:focus-within::before {
    animation: unset;
  }
  &.typing::before {
    content: "";
  }
}

.mode-select-segment {
  .mode-select {
    background-color: $primary-color;
    color: $text-color;
    border-radius: 4px;
    margin-bottom: 2rem;
    border: 0;
    padding: 0.3em;
    font-size: 1rem;
    margin-inline: $offset-margin;
  }
}

.submit-segment {
  margin-inline: $offset-margin;
  margin-top: 2rem;
  button {
    font-size: 1.2em;
    padding: 0.5em 0.7em;
    border-radius: 10px;
    border-color: $border-color;
    border-style: solid;
    cursor: pointer;
    background-color: $primary-color;
    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
      text-decoration: underline;
    }
  }
}

@keyframes placeholder-type {
  20% {
    content: "here";
  }
  24% {
    content: "her";
  }
  28% {
    content: "he";
  }
  32% {
    content: "h";
  }
  36% {
    content: "";
  }
  40% {
    content: "i";
  }
  44% {
    content: "in";
  }
  48% {
    content: "in t";
  }
  52% {
    content: "in th";
  }
  56% {
    content: "in thi";
  }
  60% {
    content: "in this";
  }
  64% {
    content: "in this s";
  }
  68% {
    content: "in this sp";
  }
  72% {
    content: "in this spo";
  }
  76% {
    content: "in this spot";
  }
  80% {
    content: "in this spot.";
  }
}

@media (max-width: 648px) {
  .choice-container {
    --repeat: 1;
    .choice {
      font-size: 1rem;
    }
  }
}
