$page-bg-color: hsl(0, 0%, 90%);
$primary-color: hsl(0, 0%, 99%);
$secondary-color: #8f00ff;
$text-color: #444444;
// $text-color: #000;
$border-radius: 8px;
$border-color: darken($primary-color, 15);

body {
  margin: 0;
}

.app {
}

main {
  min-height: 100vh;
  background-color: $page-bg-color;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  background-image: url(quiz.svg);
  background-size: 80px 80px;
}

$offset-margin: 0.6rem;
.question-segment {
  width: 60vw;
  margin-inline: $offset-margin;
  position: relative;
  font-size: 1.1em;
  &__question {
    box-sizing: border-box;
    width: 100%;
    padding: 1.8em 1em 1em 1em;

    text-align: center;

    background-color: $primary-color;
    border-radius: $border-radius;
    border: 2px solid $border-color;
    .question__keyword {
      font-weight: 600;
    }
  }
  &__banner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1000000000000px;
    padding: 0.7em 1em;
    color: white;
    background-color: $secondary-color;
    p {
      margin: 0;
    }
  }
}

.answer-segment {
  margin-top: 0.2rem;
  width: 100%;
  &.choice .answer-textbox-segment {
    display: none;
  }
  &.insert .choice-segment {
    display: none;
  }
}

.choice-container {
  --repeat: 2;
  display: grid;
  grid-template-columns: repeat(var(--repeat), minmax(200px, 1fr));
  .choice {
    box-sizing: border-box;
    padding: 1.3em 4em;
    margin: $offset-margin;

    font-size: 1.1rem;
    text-align: center;

    background-color: $primary-color;
    border-radius: $border-radius;
    border: 2px solid $border-color;

    user-select: none;
    cursor: pointer;
    &:hover {
      border-color: black;
    }
  }
  .selected-choice:focus {
    background-color: $secondary-color;
    border-color: black;
    color: white;
    outline: 0;
  }
}

.mode-select-segment {
  .mode-select {
    background-color: $primary-color;
    color: $text-color;
    border-radius: 4px;
    margin-bottom: 2rem;
    border: 0;
    padding: 0.3em;
    font-size: 1rem;
    margin-inline: $offset-margin;
  }
}

.submit-segment {
  margin-inline: $offset-margin;
  margin-top: 2rem;
  button {
    font-size: 1.3em;
    padding: 0.5em 0.7em;
    border-radius: 10px;
    border-color: $border-color;
    border-style: solid;
    cursor: pointer;
    background-color: $primary-color;
    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

@media (max-width: 648px) {
  .choice-container {
    --repeat: 1;
    .choice {
      font-size: 1rem;
    }
  }
}
