$page-bg-color: hsl(0, 0%, 90%);
$primary-color: hsl(0, 0%, 99%);
$secondary-color: #8f00ff;
$text-color: #444444;
$border-radius: 8px;
$border-color: darken($primary-color, 15);

@mixin button {
  border-color: $border-color;
  border-style: solid;
  padding: 0.3em 0.4em;
  color: $text-color;
  background-color: $primary-color;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    color: $secondary-color;
    border-color: $secondary-color;
    text-decoration: underline;
  }
}

:root {
  --offset-margin: 0.6rem;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

main {
  min-height: 100vh;
  background-color: $page-bg-color;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  color: $text-color;
  background-image: url(quiz.svg);
  background-size: 80px 80px;
}

.app {
  padding-top: 6rem;
  position: relative;
}

// START Backdrop segment

.backdrop.visible {
  min-height: 100vh;
  width: 100vw;
  padding: 2em 0;
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .modal {
    min-width: 280px;
    width: 55vw;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: $primary-color;
    border-radius: 4px;
    position: relative;
    &::before {
      content: 'MUST press "Apply" to apply changes';
      width: 100%;
      position: absolute;
      top: 3em;
      text-align: center;
      color: crimson;
    }
    &__header {
      width: 100%;
      text-align: center;
    }
    &__portion-container {
      padding: 2em 0.6em;
    }
    &__button-container {
      margin: 0 1em 1em 1em;
      .modal__apply-button {
        @include button;
        font-size: 1rem;
      }
    }
  }
}

.backdrop.visible .modal__portion {
  margin-bottom: 3em;
  &__title {
    height: max-content;
    position: relative;
    margin-bottom: 1.5em;
    &__hr-line {
      width: 100%;
      border: none;
      position: relative;
      height: 1px;
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        border-top: 1px solid black;
      }
    }
    &__text {
      background-color: $primary-color;
      padding: 0 0.5em;
      width: auto;
      position: absolute;
      top: 50%;
      left: 2em;
      transform: translateY(-50%);
    }
  }
  &__input {
    border-color: $border-color;
    border-style: solid;
    padding: 0.2em 0.3em;
    color: $text-color;
    font-size: 0.9rem;
    background-color: $primary-color;
    border-width: 2px;
    border-radius: 4px;
    outline: none;
    &:focus,
    &:focus-visible {
      border-color: $secondary-color;
    }
  }
}

// START Congrats segment

.congrats-segment {
  background-color: rgb(50, 205, 50);
  padding: 0.4em 0.5em;
  border-width: 2px;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 2px;
  width: max-content;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  font-size: 1.4rem;
  color: white;

  display: flex;
  align-items: center;

  visibility: hidden;

  &.visible {
    animation: show-congrats 10s;
    .congrats__grade::before {
      animation: ellipsis 1s 200ms 3;
    }
  }
  .congrats__tickmark {
    width: 3em;
    margin-right: 1em;
  }
  .congrats__grade {
    margin: 0;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      color: white;
      position: absolute;
      bottom: 0;
      left: 4ch;
    }
    &__term {
      &.won {
        font-size: 1.3em;
        animation: rainbow 250ms infinite;
      }
      &.lost {
        color: lighten(#c72626, 10);
      }
    }
  }
}

// START Function button segment

.function-buttons-segment {
  margin-bottom: 3rem;
  .mode-select {
    border: 0;
    margin-inline: var(--offset-margin);
    padding: 0.3em 0.4em;
    color: $text-color;
    background-color: $primary-color;
    border-radius: 4px;
    &:disabled {
      cursor: not-allowed;
    }
  }
  .mode-select,
  .function-button {
    font-size: 1rem;
  }
  .function-button {
    @include button;
    margin-inline: 0.1em;
    position: relative;
    border-radius: 0;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }
      &:hover {
        color: $text-color;
        border-color: $border-color;
        text-decoration: none;
      }
    }
    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
      text-decoration: underline;
    }
  }
  .restart-button {
    background-color: $secondary-color;
    color: white;
    border-color: transparent;
    &:hover {
      color: white;
      text-decoration: underline;
      .restart-image {
        transform: rotate(270deg);
      }
    }
  }
  .restart-image {
    width: 1em;
    margin-right: 0.3em;
    vertical-align: middle;
    transition: transform 450ms ease-out;
    user-select: none;
  }
}

// START Question segment

.question-segment {
  min-width: 55vw;
  margin-inline: var(--offset-margin);
  position: relative;
  font-size: 1.1em;
  &__question {
    box-sizing: border-box;
    width: 100%;
    padding: 1.8em 1em 1em 1em;

    text-align: center;

    background-color: $primary-color;
    border-radius: $border-radius;
    border: 2px solid $border-color;
    &::before {
      content: "";
      height: 0;
      width: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: inherit;
    }
    &.disabled::before {
      height: 50%;
    }
    .question__keyword {
      font-weight: 600;
    }
  }
  &__banner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1000000000000px;
    padding: 0.7em 1em;
    color: white;
    background-color: $secondary-color;
    p {
      margin: 0;
      text-align: center;
    }
  }
  &__stopwatch {
    position: absolute;
    top: 0.4em;
    right: 0.6em;
    color: $secondary-color;
    display: none;
    z-index: 1;
    &.visible {
      display: flex;
    }
    &__image {
      width: 1.2em;
      color: $secondary-color;
      margin-right: 0.4em;
    }
  }
  &__stats {
    position: absolute;
    top: 0.4em;
    left: 0.6em;
    z-index: 1;
    &__item {
      font-size: 1.1em;
      &__img {
        vertical-align: middle;
      }
      &__counter {
        vertical-align: middle;
      }
    }
    &__item--streak {
      margin-top: 0.6em;
    }
  }
}

// START Answer segment

.answer-segment {
  width: 100%;
  margin-top: 0.2rem;
  position: relative;
  &.choice-mode .answer-textbox-container {
    display: none;
  }
  &.insert-mode .choice-container {
    display: none;
  }
}

.choice.disabled {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: inherit;
    cursor: not-allowed;
  }
}

.choice-container {
  --repeat: 2;
  $selected-bg: transparentize($secondary-color, 0.8);
  display: grid;
  grid-template-columns: repeat(var(--repeat), minmax(200px, 1fr));
  .choice {
    box-sizing: border-box;
    margin: var(--offset-margin);

    font-size: 1.1rem;
    border-radius: $border-radius;
    background-color: $primary-color;

    user-select: none;
    &__button {
      width: 100%;
      padding: 1.3em 3em;
      color: $text-color;
      border: 2px solid $border-color;
      border-radius: $border-radius;
      background-color: transparent;
      text-align: center;
      font-size: inherit;
      cursor: pointer;
      transition: background 25ms;
      &:hover {
        border-color: $secondary-color;
      }
    }
  }
  .selected-choice .choice__button.choice__button {
    border-color: $secondary-color;
    background-color: $selected-bg;
    outline: 0;
  }
}

.answer-textbox-container {
  margin-inline: var(--offset-margin);
  margin-top: 1em;
  position: relative;
  .answer-textbox {
    box-sizing: border-box;
    width: 100%;
    padding: 0.2em 0.4em;

    font-size: 1.2em;

    border-radius: $border-radius;
    border-style: solid;
    border-color: $border-color;
    border-width: 2px;
    outline: 0;
    transition: border 50ms;
    user-select: none;
    &:focus,
    &:focus-visible {
      border-color: $secondary-color;
    }
    &[disabled] {
      cursor: not-allowed;
    }
  }
  &::before {
    content: "here.";
    position: absolute;
    left: 15.9ch;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: gray;
    animation: placeholder-type 7s infinite;
  }
  &:focus-within::before {
    animation: unset;
  }
  &.typing::before {
    content: "";
    animation: none;
  }
}

// START Submit segment

.submit-segment {
  margin-inline: var(--offset-margin);
  margin-top: 1rem;
  button {
    font-size: 1.2em;
    padding: 0.5em 0.7em;
    border-radius: 2px;
    border-color: $border-color;
    border-style: solid;
    background-color: $primary-color;
    color: $text-color;
    position: relative;
    cursor: pointer;
    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
      text-decoration: underline;
    }
    &:disabled {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: inherit;
        z-index: 1;
        cursor: not-allowed;
      }
      &:hover {
        color: $text-color;
        border-color: $border-color;
        text-decoration: none;
      }
    }
  }
}

// START Answer grade segment

.answer-grade-segment {
  margin-inline: var(--offset-margin);
  margin-block: 1.5rem;
}

.answer-grade-segment__bg {
  color: #fff;
  font-size: 1.4rem;
  padding: 0.4em 0.5em;
  border-width: 2px;
  border-style: solid;
  border-radius: $border-radius;
  opacity: 0;
  transition: opacity 100ms;
  user-select: none;
  &.correct,
  &.wrong {
    opacity: 1;
    user-select: auto;
  }
  &.correct {
    border-color: darkgreen;
    background-color: limegreen;
    & .answer-grade__correct-image {
      display: inline;
    }
    .answer-grade .answer-grade__toggle-info {
      display: block;
    }
  }
  &.wrong {
    border-color: maroon;
    background-color: lighten(firebrick, 5);
    & .answer-grade__wrong-image {
      display: inline;
    }
  }
  .answer-grade {
    display: flex;
    align-items: center;
    position: relative;
    &__text {
      height: min-content;
      margin: 0 0.5em;
    }
    &__toggle-info {
      position: absolute;
      top: 50%;
      transform: translateY(100%);

      padding: 0;
      border: 0;
      margin: 0 4rem;

      background-color: transparent;
      color: #0000d6;
      font-size: 0.5em;

      display: none;
      cursor: pointer;
      img {
        width: 1em;
        vertical-align: middle;
        transform: rotate(-90deg);
      }
    }
  }
  .answer-grade__image {
    width: 2.3em;
    display: none;
  }
}

.word-info.visible {
  display: block;
}

.word-info {
  display: none;
  max-width: calc(55vmax - 2 * var(--offset-margin));
  box-sizing: border-box;
  margin-top: 1em;
  font-size: 0.9em;
  &.visible {
    display: block;
  }
  hr {
    border-color: darkgreen;
  }
  &__section {
    margin-block: 1em;
    &__keyword {
      color: darkgreen;
      text-decoration: underline;
    }
  }
  &__level__level {
    font-size: 0.7em;
    padding: 0.25em;
    background-color: $secondary-color;
    border-radius: 5px;
  }
  &__def {
    &__definition {
      margin: 0 auto;
    }
  }
  &__exm {
    &__example {
      margin: 0 auto;
    }
  }
}

@keyframes placeholder-type {
  20% {
    content: "here";
  }
  24% {
    content: "her";
  }
  28% {
    content: "he";
  }
  32% {
    content: "h";
  }
  36% {
    content: "";
  }
  40% {
    content: "i";
  }
  44% {
    content: "in";
  }
  48% {
    content: "in t";
  }
  52% {
    content: "in th";
  }
  56% {
    content: "in thi";
  }
  60% {
    content: "in this";
  }
  64% {
    content: "in this s";
  }
  68% {
    content: "in this sp";
  }
  72% {
    content: "in this spo";
  }
  76% {
    content: "in this spot";
  }
  80% {
    content: "in this spot.";
  }
}

@keyframes ellipsis {
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

@keyframes show-congrats {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  3%,
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 648px) {
  .choice-container {
    --repeat: 1;
    .choice {
      font-size: 1rem;
    }
  }
}
