@use "./variables";

@mixin button {
  padding: 0.3em 0.4em;
  border-color: variables.$border-color;
  border-style: solid;
  outline-color: variables.$focus-outline-color;
  color: variables.$text-color;
  background-color: variables.$primary-color;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    color: variables.$secondary-color;
    border-color: variables.$secondary-color;
    text-decoration: underline;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
