$page-bg-color: hsl(0, 0%, 90%);
$primary-color: hsl(0, 0%, 99%);
$secondary-color: #8f00ff;
$text-color: #444444;
$border-color: hsl(0, 0%, 80%);
$border-radius: 8px;
$choice-margin: 0.6rem;
$focus-outline-color: #0287c3;
