@use "./partials/variables.scss";

.answer-segment {
  padding-top: 0.2rem;
  position: relative;
  &.choice-mode .answer-textbox-container {
    display: none;
  }
  &.insert-mode .choice-container {
    display: none;
  }
}

.choice-container {
  --repeat: 2;
  $selected-bg: transparentize(variables.$secondary-color, 0.8);
  display: grid;
  grid-template-columns: repeat(var(--repeat), 1fr);
  .choice {
    $offset-margin: 0.6rem;
    box-sizing: border-box;
    margin: $offset-margin;
    margin-left: 0;
    font-size: 1.1rem;
    border-radius: variables.$border-radius;
    background-color: variables.$primary-color;
    user-select: none;
    &:nth-child(2n) {
      margin-right: 0;
      margin-left: $offset-margin;
    }
    &__button {
      width: 100%;
      padding: 1.3em 3em;
      border: 2px solid variables.$border-color;
      border-radius: variables.$border-radius;
      outline-color: variables.$focus-outline-color;

      color: variables.$text-color;
      text-align: center;

      background-color: transparent;
      font-size: inherit;
      cursor: pointer;
      transition: background 25ms;
      &:hover {
        border-color: variables.$secondary-color;
      }
    }
  }
  .selected-choice .choice__button {
    border-color: variables.$secondary-color;
    background-color: $selected-bg;
    outline: 0;
  }
  .choice.disabled {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: inherit;
      cursor: not-allowed;
    }
  }
}

.answer-textbox-container {
  margin: 0.8em var(--offset-margin);
  position: relative;
  .answer-textbox {
    box-sizing: border-box;
    width: 100%;
    padding: 0.2em 0.4em;

    font-size: 1.2em;

    border-radius: variables.$border-radius;
    border-style: solid;
    border-color: variables.$border-color;
    border-width: 2px;
    outline: 0;
    transition: border 50ms;
    user-select: none;
    &:focus,
    &:focus-visible {
      border-color: variables.$secondary-color;
    }
    &:disabled,
    &:disabled + .answer-textbox-label {
      cursor: not-allowed;
    }
  }
  .answer-textbox-label {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2em;
    color: gray;
    cursor: text;
    &::before {
      content: "here.";
      width: max-content;
      position: absolute;
      top: 50%;
      left: 16ch;
      transform: translateY(-50%);
      animation: placeholder-type 7s infinite;
    }
  }
  &:focus-within .answer-textbox-label::before {
    animation: unset;
  }
  &.typing .answer-textbox-label::before {
    content: "";
    animation: none;
  }
}
