@use "./partials/variables";
@use "./backdrop";
@use "./answer";
@use "congrats";
@use "function-buttons";
@use "question";
@use "answer-grade";

:root {
  --offset-margin: 0.6rem;
}

html {
  background-color: variables.$page-bg-color;
  overflow-x: hidden;
}

body {
  margin: 0;
}

main {
  min-height: 100vh;
  background-color: variables.$page-bg-color;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  color: variables.$text-color;
  background-image: url(../icons/quiz.svg);
  background-size: 80px 80px;
}

.app {
  padding-top: 6rem;
  position: relative;
}

@keyframes placeholder-type {
  20% {
    content: "here";
  }
  24% {
    content: "her";
  }
  28% {
    content: "he";
  }
  32% {
    content: "h";
  }
  36% {
    content: "";
  }
  40% {
    content: "i";
  }
  44% {
    content: "in";
  }
  48% {
    content: "in t";
  }
  52% {
    content: "in th";
  }
  56% {
    content: "in thi";
  }
  60% {
    content: "in this";
  }
  64% {
    content: "in this s";
  }
  68% {
    content: "in this sp";
  }
  72% {
    content: "in this spo";
  }
  76% {
    content: "in this spot";
  }
  80% {
    content: "in this spot.";
  }
}

@keyframes ellipsis {
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

@keyframes show-congrats {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  3%,
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 648px) {
  .choice-container {
    --repeat: 1;
    .choice {
      font-size: 1rem;
    }
  }
}
