@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");
.backdrop.visible {
  min-height: 100vh;
  width: 100vw;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: #444444;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.backdrop.visible .modal {
  min-width: 320px;
  max-width: 632px;
  width: 90vw;
  border-radius: 8px;
  background-color: #fcfcfc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.backdrop.visible .modal__header {
  padding: 1.8em 0 3em 0;
  padding-left: 1em;
  padding-right: 0.4em;
  position: relative;
}
.backdrop.visible .modal__header--options-header::before {
  content: 'Press "Apply" to apply changes';
  position: absolute;
  top: 72%;
  color: crimson;
  font-size: 1rem;
  white-space: nowrap;
  text-align: center;
}
.backdrop.visible .modal__header__title {
  margin: 0;
  padding-bottom: 0.5em;
  border-bottom: 4px solid #d8dbe2;
}
.backdrop.visible .modal__close-button {
  border: none;
  outline-color: #0287c3;
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  background: none;
  font-size: 2em;
  color: inherit;
  cursor: pointer;
}
.backdrop.visible .modal__portion-container {
  max-height: 55vh;
  padding-bottom: 1em;
  position: relative;
}
.backdrop.visible .modal__portion-container::before {
  content: "";
  width: 100%;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #f8f8f8 100%);
}
.backdrop.visible .modal__portion-container #modal__form {
  max-height: inherit;
  padding: 0 0.6em;
  overflow-y: scroll;
}
.backdrop.visible .modal__button-container {
  width: 100%;
  padding: 0.8em 0 0.8em 1em;
  border-top: 2px solid #cccccc;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  box-sizing: border-box;
  background-color: #e6e6e6;
  position: absolute;
  left: 0;
  bottom: 0;
}
.backdrop.visible .modal__button-container .modal__apply-button {
  padding: 0.3em 0.4em;
  border-color: #cccccc;
  border-style: solid;
  outline-color: #0287c3;
  color: #444444;
  background-color: #fcfcfc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #737373;
  color: #eee;
  border-radius: 2px;
  border-color: #6c6c6c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 0.95rem;
}
.backdrop.visible .modal__button-container .modal__apply-button:hover {
  color: #8f00ff;
  border-color: #8f00ff;
  text-decoration: underline;
}
.backdrop.visible .modal__button-container .modal__apply-button:hover {
  background-color: #676767;
  border-color: #616161;
  color: #cdcdcd;
}
.backdrop.visible .modal__button-container .modal__apply-button:active {
  background-color: #616161;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.backdrop.visible .modal__portion {
  margin-bottom: 3em;
}
.backdrop.visible .modal__portion:first-child {
  margin-top: 2em;
}
.backdrop.visible .modal__portion__fieldset {
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  border-top-color: #d8dbe2;
  border-top-style: solid;
  padding-top: 1.2em;
}
.backdrop.visible .modal__portion__fieldset__legend {
  padding: 0 4px;
}
.backdrop.visible .modal__portion__input {
  border-color: #cccccc;
  border-style: solid;
  padding: 0.2em 0.3em;
  color: #444444;
  font-size: 0.9rem;
  background-color: #fcfcfc;
  border-width: 2px;
  border-radius: 4px;
  outline: none;
}
.backdrop.visible .modal__portion__input:focus, .backdrop.visible .modal__portion__input:focus-visible {
  border-color: #8f00ff;
}
.backdrop.visible .modal__portion__stat-list {
  list-style: none;
}
.backdrop.visible .modal__portion__stat-list__item {
  display: flex;
  justify-content: space-between;
}
.backdrop.visible .modal__portion__stat-list__item:first-child::before {
  border-top: none;
}
.backdrop.visible .modal__portion__stat-list__item__value {
  color: #8f00ff;
}

.modal__portion__stat-list__item,
.modal__portion__stat-list__item--sublist-container {
  margin: 3em 0;
  margin-right: 1em;
  position: relative;
}
.modal__portion__stat-list__item::before,
.modal__portion__stat-list__item--sublist-container::before {
  content: "";
  width: 100%;
  position: absolute;
  top: -1.5em;
  left: 0;
  border-top: 1px solid lightgray;
}

.modal__portion__stat-list__item::after,
.modal__portion__stat-list__item--sublist-container__sublist__item::after,
.modal__portion__stat-list__item--sublist-container__sublist__item--nested-sublist-container__sublist__item::after {
  content: ":";
  width: 95%;
  position: absolute;
  text-align: center;
  font-weight: 800;
  font-family: monospace;
}

.modal__portion__stat-list__item--sublist-container__sublist,
.modal__portion__stat-list__item--sublist-container__sublist__item--nested-sublist-container__sublist {
  list-style: none;
}
.modal__portion__stat-list__item--sublist-container__sublist__item,
.modal__portion__stat-list__item--sublist-container__sublist__item--nested-sublist-container__sublist__item {
  margin: 1.5em 0;
  display: flex;
  justify-content: space-between;
}
.modal__portion__stat-list__item--sublist-container__sublist__item__value,
.modal__portion__stat-list__item--sublist-container__sublist__item--nested-sublist-container__sublist__item__value {
  color: #8f00ff;
}

.answer-segment {
  padding-top: 0.2rem;
  position: relative;
}
.answer-segment.choice-mode .answer-textbox-container {
  display: none;
}
.answer-segment.insert-mode .choice-container {
  display: none;
}

.choice-container {
  --repeat: 2;
  display: grid;
  grid-template-columns: repeat(var(--repeat), 1fr);
}
.choice-container .choice {
  box-sizing: border-box;
  margin: 0.6rem;
  margin-left: 0;
  font-size: 1.1rem;
  border-radius: 8px;
  background-color: #fcfcfc;
  user-select: none;
}
.choice-container .choice:nth-child(2n) {
  margin-right: 0;
  margin-left: 0.6rem;
}
.choice-container .choice__button {
  width: 100%;
  padding: 1.3em 3em;
  border: 2px solid #cccccc;
  border-radius: 8px;
  outline-color: #0287c3;
  color: #444444;
  text-align: center;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
  transition: background 25ms;
}
.choice-container .choice__button:hover {
  border-color: #8f00ff;
}
.choice-container .selected-choice .choice__button {
  border-color: #8f00ff;
  background-color: rgba(143, 0, 255, 0.2);
  outline: 0;
}
.choice-container .choice.disabled {
  position: relative;
}
.choice-container .choice.disabled::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  cursor: not-allowed;
}

.answer-textbox-container {
  margin-top: 0.2em;
  position: relative;
}
.answer-textbox-container .answer-textbox {
  box-sizing: border-box;
  width: 100%;
  padding: 0.2em 0.4em;
  border-width: 2px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 8px;
  outline: 0;
  background-color: #fcfcfc;
  font-size: 1.2em;
  transition: border 50ms;
  user-select: none;
}
.answer-textbox-container .answer-textbox:focus, .answer-textbox-container .answer-textbox:focus-visible {
  border-color: #8f00ff;
}
.answer-textbox-container .answer-textbox:disabled,
.answer-textbox-container .answer-textbox:disabled ~ .answer-textbox-label {
  background-color: initial;
  cursor: not-allowed;
}
.answer-textbox-container .answer-textbox-label {
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: text;
}
.answer-textbox-container .answer-textbox-label--transformer-placeholder {
  left: 16ch;
  font-size: 1.2em;
  color: gray;
}
.answer-textbox-container .answer-textbox-label--transformer-placeholder::before {
  content: "here.";
  width: max-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: placeholder-type 7s infinite;
}
.answer-textbox-container .answer-textbox-label--wrapper {
  width: 100%;
  left: 0;
}
.answer-textbox-container:focus-within .answer-textbox-label--transformer-placeholder::before {
  animation: unset;
}
.answer-textbox-container.typing .answer-textbox-label--transformer-placeholder::before {
  content: "";
  animation: none;
}
.answer-textbox-container.typing .answer-textbox-label--wrapper {
  z-index: -1;
}

.congrats-segment {
  background-color: limegreen;
  padding: 0.4em 0.5em;
  border-width: 2px;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 2px;
  width: max-content;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.4rem;
  color: white;
  display: flex;
  align-items: center;
  visibility: hidden;
  z-index: 99;
}
.congrats-segment.visible {
  animation: show-congrats 10s;
}
.congrats-segment.visible .congrats__grade::before {
  animation: ellipsis 1s 200ms 3;
}
.congrats-segment .congrats__tickmark {
  width: 3em;
  margin-right: 1em;
  color: darkgreen;
}
.congrats-segment .congrats__grade {
  margin: 0;
  position: relative;
}
.congrats-segment .congrats__grade::before {
  content: "";
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  left: 4ch;
}
.congrats-segment .congrats__grade__term.won {
  font-size: 1.3em;
  animation: rainbow 250ms infinite;
}
.congrats-segment .congrats__grade__term.lost {
  color: #db4545;
}

.function-buttons-segment {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.function-buttons-segment .mode-select {
  padding: 0.3em 0.4em;
  border: 0;
  outline-color: #0287c3;
  color: #444444;
  background-color: #fcfcfc;
  border-radius: 4px;
}
.function-buttons-segment .mode-select:disabled {
  cursor: not-allowed;
}
.function-buttons-segment .mode-select,
.function-buttons-segment .function-button {
  font-size: 1rem;
}

.function-button-container {
  padding: 0.4em 0;
  margin: 0 0.2em;
}
.function-button-container .function-button {
  padding: 0.3em 0.4em;
  border-color: #cccccc;
  border-style: solid;
  outline-color: #0287c3;
  color: #444444;
  background-color: #fcfcfc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.function-button-container .function-button:hover {
  color: #8f00ff;
  border-color: #8f00ff;
  text-decoration: underline;
}
.function-button-container .function-button:disabled {
  cursor: not-allowed;
}
.function-button-container .function-button:disabled::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.function-button-container .function-button:disabled:hover {
  color: #444444;
  border-color: #cccccc;
  text-decoration: none;
}
.function-button-container .function-button:hover {
  color: #8f00ff;
  border-color: #8f00ff;
  text-decoration: underline;
}
.function-button-container .function-button--restart-button {
  background-color: #8f00ff;
  color: white;
  border-color: #8f00ff;
}
.function-button-container .function-button--restart-button:hover {
  color: white;
  text-decoration: underline;
}
.function-button-container .function-button--restart-button:hover .function-button--restart-button__restart-image {
  transform: rotate(270deg);
}
.function-button-container .function-button--restart-button[data-end] {
  background-color: #c72626;
  border-color: #c72626;
}
.function-button-container .function-button--restart-button[data-end]:hover {
  color: #721616;
}
.function-button-container .function-button--restart-button[data-end]:hover .function-button--restart-button__restart-image {
  transform: scale(1.3);
  transition-duration: 250ms;
}
.function-button-container .function-button--restart-button__restart-image {
  width: 1em;
  margin-right: 0.1em;
  vertical-align: middle;
  transition: transform 450ms ease-out;
  user-select: none;
}

.submit-segment {
  margin-top: 0.2rem;
}
.submit-segment button {
  font-size: 1.2em;
  padding: 0.5em 0.7em;
  border-radius: 6px;
  border-color: #cccccc;
  border-style: solid;
  outline-color: #0287c3;
  background-color: #fcfcfc;
  color: #444444;
  position: relative;
  cursor: pointer;
}
.submit-segment button:hover {
  color: #8f00ff;
  border-color: #8f00ff;
  text-decoration: underline;
}
.submit-segment button:disabled::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  z-index: 1;
  cursor: not-allowed;
}
.submit-segment button:disabled:hover {
  color: #444444;
  border-color: #cccccc;
  text-decoration: none;
}

.question-segment {
  position: relative;
  font-size: 1.1em;
}

.question-segment__question {
  box-sizing: border-box;
  width: 100%;
  padding: 1.8em 1em 1em 1em;
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 8px;
  border: 2px solid #cccccc;
}
.question-segment__question::before {
  content: "";
  height: 0;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -20%);
  background-color: inherit;
}
.question-segment__question.disabled::before {
  height: 50%;
}
.question-segment__question-content {
  text-align: center;
  padding: 0 1em 0 2.5em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.05em;
}
.question-segment__question .question__prompt {
  color: #8f00ff;
  font-weight: 800;
}

.question-segment__banner {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000000000000px;
  padding: 0.7em 1em;
  white-space: nowrap;
  color: white;
  background-color: #8f00ff;
}
.question-segment__banner .question-segment__banner__content {
  margin: 0;
  text-align: center;
}

.question-segment__stopwatch {
  position: absolute;
  top: 0.4em;
  right: 0.6em;
  color: #8f00ff;
  display: none;
  z-index: 1;
}
.question-segment__stopwatch.visible {
  display: flex;
}
.question-segment__stopwatch__image {
  width: 1.2em;
  color: #8f00ff;
  margin-right: 0.4em;
}

.question-segment__stats {
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  z-index: 1;
}
.question-segment__stats.disabled::before {
  content: "";
  position: absolute;
  top: 0;
  right: -5%;
  height: 50%;
  width: 110%;
  background-color: rgba(255, 0, 0, 0.2);
}
.question-segment__stats__item {
  font-size: 1.1em;
}
.question-segment__stats__item__img {
  width: 1.2em;
  vertical-align: middle;
}
.question-segment__stats__item__img--correct {
  color: #33b864;
}
.question-segment__stats__item__img--streak {
  color: #d0312d;
}
.question-segment__stats__item__counter {
  vertical-align: middle;
}
.question-segment__stats__item--streak {
  margin-top: 0.7em;
}

.answer-grade-segment {
  margin-top: 1.5rem;
  padding-bottom: 1em;
}

.answer-grade-segment__bg {
  color: #fff;
  font-size: 1.4rem;
  padding: 0.4em 0.5em;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 100ms;
}
.answer-grade-segment__bg.correct, .answer-grade-segment__bg.wrong, .answer-grade-segment__bg.warn {
  opacity: 1;
  user-select: auto;
}
.answer-grade-segment__bg.correct .answer-grade__correct-image {
  display: inline;
  color: darkgreen;
  border-color: darkgreen;
  background-color: limegreen;
}
.answer-grade-segment__bg.correct .answer-grade__correct-image .answer-grade .answer-grade__toggle-info {
  display: block;
}
.answer-grade-segment__bg.correct.correct {
  border-color: darkgreen;
  background-color: limegreen;
}
.answer-grade-segment__bg.correct.correct .answer-grade .answer-grade__toggle-info {
  display: block;
}
.answer-grade-segment__bg.wrong .answer-grade__wrong-image {
  display: inline;
  color: maroon;
  border-color: maroon;
  background-color: #c72626;
}
.answer-grade-segment__bg.wrong.wrong {
  border-color: maroon;
  background-color: #c72626;
}
.answer-grade-segment__bg.warn .answer-grade__warn-image {
  display: inline;
  color: darkgoldenrod;
  border-color: darkgoldenrod;
  background-color: goldenrod;
}
.answer-grade-segment__bg.warn.warn {
  border-color: darkgoldenrod;
  background-color: goldenrod;
}
.answer-grade-segment__bg .answer-grade {
  display: flex;
  align-items: center;
  position: relative;
}
.answer-grade-segment__bg .answer-grade__text {
  height: min-content;
  margin: 0 0.5em;
}
.answer-grade-segment__bg .answer-grade__toggle-info {
  padding: 0;
  border: 0;
  margin: 0 4rem;
  outline-color: #0287c3;
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  background-color: transparent;
  color: #0000d6;
  font-size: 0.5em;
  display: none;
  cursor: pointer;
}
.answer-grade-segment__bg .answer-grade__toggle-info .answer-grade__toggle-info__image {
  width: 1em;
  vertical-align: middle;
  transform: rotate(-90deg);
}
.answer-grade-segment__bg .answer-grade__image {
  width: 2.3em;
  display: none;
}

.word-info.visible {
  display: block;
}

.word-info {
  display: none;
  max-width: calc(55vmax - 2 * var(--offset-margin));
  box-sizing: border-box;
  margin-top: 1em;
  font-size: 0.9em;
}
.word-info.visible {
  display: block;
}
.word-info hr {
  border-color: darkgreen;
}
.word-info__section {
  margin: 1em 0;
}
.word-info__section__keyword {
  color: darkgreen;
  text-decoration: underline;
}
.word-info__level__level {
  font-size: 0.7em;
  padding: 0.25em;
  background-color: #8f00ff;
  border-radius: 5px;
}
.word-info__def__definition {
  margin: 0 auto;
}
.word-info__exm__example {
  margin: 0 auto;
}

html {
  background-color: #e6e6e6;
  background-image: url("../icons/quiz.svg");
  background-size: 80px 80px;
}

body {
  margin: 0;
}

main {
  background-color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  color: #444444;
  background-image: url("../icons/quiz.svg");
  background-size: 80px 80px;
}

#game {
  max-width: 748px;
  padding: 0 1.5rem;
  padding-top: 8%;
  margin: 0 auto;
}

@keyframes placeholder-type {
  20% {
    content: "here";
  }
  24% {
    content: "her";
  }
  28% {
    content: "he";
  }
  32% {
    content: "h";
  }
  36% {
    content: "";
  }
  40% {
    content: "i";
  }
  44% {
    content: "in";
  }
  48% {
    content: "in t";
  }
  52% {
    content: "in th";
  }
  56% {
    content: "in thi";
  }
  60% {
    content: "in this";
  }
  64% {
    content: "in this s";
  }
  68% {
    content: "in this sp";
  }
  72% {
    content: "in this spo";
  }
  76% {
    content: "in this spot";
  }
  80% {
    content: "in this spot.";
  }
}
@keyframes ellipsis {
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
@keyframes rainbow {
  100%, 0% {
    color: red;
  }
  8% {
    color: #ff7f00;
  }
  16% {
    color: yellow;
  }
  25% {
    color: chartreuse;
  }
  33% {
    color: lime;
  }
  41% {
    color: springgreen;
  }
  50% {
    color: aqua;
  }
  58% {
    color: #007fff;
  }
  66% {
    color: blue;
  }
  75% {
    color: #7f00ff;
  }
  83% {
    color: fuchsia;
  }
  91% {
    color: #ff007f;
  }
}
@keyframes show-congrats {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  3%, 100% {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 648px) {
  .choice-container {
    --repeat: 1;
  }
  .choice-container .choice.choice {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 485px) {
  .question-segment__question {
    padding: 2.4em 0.8em 0.8em 0.4em;
  }

  .question-segment__stopwatch {
    top: 1.6em;
    right: 50%;
    transform: translate(50%);
  }
}
@media screen and (min-height: 768px) {
  .app {
    padding-top: 20vh;
  }
}

/*# sourceMappingURL=style.css.map */
